body {
    font-family: 'Inter', sans-serif;
    background-color: #fbfbfb;
}

header {
    border-bottom: 1px solid #F2F2F2;
    background: #fff;
    text-align: center;
    padding: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
}

.navbar {
    height: 60px;
    background-color: #ffffff;
    border-bottom: #F2F2F2 solid 1px;
}

.header {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 30px;
}

.title-wra {
    padding-top: 30px;
    position: relative;

    p {
        text-align: center;
        font-size: 14px;
        padding-top: 6px;
        margin-bottom: 20px;
        margin: 0px 30px;
    }

    h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        margin: 0px auto;

        display: block;

        &.t1,
        .t2 {
            position: absolute;
            right: 0;
            left: 0;
        }

        &.t1 {
            opacity: 1;
            cursor: default;
            z-index: 1;
            transition: opacity .2s ease;

            &:hover {
                opacity: 0;

                ~.t2 {
                    opacity: 1;
                }
            }

        }

        &.t2 {
            opacity: 0;
            transition: opacity .2s ease;
        }
    }
}

.header-container:hover #cool {
    display: block;
}

.header-container:hover #shit {
    display: none;
}

#cool {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 30px;
    margin: 0px 30px;
    display: none;
}

/* .name:hover{
    text-decoration: underline;
    color: #0C7CFF;
} */
a {
    color: #000;
    align-self: center;
}

.sub-header {
    text-align: center;
    font-size: 14px;
    padding-top: 6px;
    margin-bottom: 20px;
    margin: 0px 30px;
}

.navbar {
    align-items: centers;
}

.category-container {
    padding: 20px 20px 0px 20px;
    border: #F2F2F2 solid 1px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #ffffff;

}

/* .category-container:first-child{
    margin-top: 100px;
} */
.product-logo {
    margin-right: 6px;
    align-self: center;

    svg {
        height: 42px;
        margin-right: 6px;
    }
}

.product-logo img {
    height: 42px;
    margin-right: 6px;
}

.categories {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 8px 16px 8px;
    margin-top: 16px;
    border-bottom: #F2F2F2 solid 1px;
}

.products:last-child {
    border-bottom: none;
}

.detail-container {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.detail-top {
    display: flex;
    flex-direction: row;
}

.name {
    font-size: 18px;
    font-weight: 700;
    margin-right: 6px;
    ;
}

.devices {
    font-size: 12px;
    color: #808080;
    padding-top: 4px;
}

.os-tag {
    font-size: 12px;
    color: #A72CD2;
    padding: 0px 4px;
    background-color: #F6EAFB;
    align-self: center;
    border-radius: 4px;
}

.footer {
    border-top: #F2F2F2 solid 1px;
    height: 60px;
    margin-top: 60px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

#foot1 {
    /* margin-left: 100px; */
    text-align: center;
    padding: 16px;
}

#foot2 {
    /* margin-right: 100px; */
    text-align: center;
    margin-bottom: 30px;
}

.footer1 {
    background-image: url(/Assets/Untitled_Artwork\ 3.png);
    height: 200px;
}

.open {
    display: none;
    justify-content: flex-end space-between;
    align-self: center;
}

.products:hover #open {
    display: block;
    cursor: pointer;
}

#twitter {
    font-weight: 700;
    color: rgb(24, 24, 24);
}

@media screen and (max-width: 768px) {
    .open {
        display: block;
    }

    .name {
        font-size: 16px;
    }

    .categories {
        font-size: 22px;
    }
}